.img-card {
  background: var(--card-bg);
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--border);
  transition: 0.2s;
  cursor: pointer;
}

.img-card:hover {
  transform: scale(1.02);
}

.img-card img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.img-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  font-size: 12px;
  color: var(--text-secondary);
}
