<app-header>
  <app-theme-toggle></app-theme-toggle>
</app-header>

<div class="main-content">
  <section class="hero">
    <div class="container">

      @if (notesStats$ | async; as stats) {
        @if (stats.latest; as latest) {
          <div class="featured">
            <h3>Featured Note</h3>
            <a [routerLink]="['/note', latest.id]" class="featured-card">
              <div class="note-content">
                <h4>{{ latest.title }}</h4>
                <p>{{ latest.content }}</p>
              </div>
            </a>
          </div>
        }
      }
    </div>
  </section>

  <section class="notes-section">
    <div class="container">
      <h3>Latest Notes</h3>

      @if (notes$ | async; as notes) {
        @if (notes.length > 0) {
          <div class="notes-grid">
            @for (note of notes; track note) {
              <div class="note-card">
                <div class="note-content">
                  <h4>{{ note.title }}</h4>
                  <p>{{ note.content }}</p>
                  <a [routerLink]="['/note', note.id]" class="read-more">
                    Read →
                  </a>
                </div>
              </div>
            }
          </div>
        } @else {
          <p class="empty-state">
            No notes yet. Add your first one to see it here ✍️
          </p>
        }
      } @else {
        <p class="empty-state">
          No notes yet. Add your first one to see it here ✍️
        </p>
      }

    </div>
  </section>

  @defer (on viewport; prefetch on idle) {
    <app-gallery />
  } @placeholder {
<!--    <app-inspiration-placeholder />-->
    <span>Loading...</span>
  }
</div>

<footer class="footer">
  <p>© {{ year }} Angular 21</p>
</footer>
