<app-header>
  <app-theme-toggle></app-theme-toggle>
</app-header>

<div class="main-content">
  <section class="notes-section">
    <div class="container">
      <h3>Latest Notes</h3>

      @if (notes$ | async; as notes) {
        @if (notes.length > 0) {
          <div class="notes-grid">
            @for (note of notes; track note) {
              <div class="note-card">
                <div class="note-content">
                  <h4 class="note-title">{{ note.title }}</h4>

                  <p class="note-text">
                    {{ note.content }}
                  </p>
                </div>

                <a
                  [routerLink]="['/note', note.id]"
                  class="read-more"
                >
                  Read →
                </a>
              </div>

            }
          </div>
        } @else {
          <p class="empty-state">
            No notes yet. Add your first one to see it here ✍️
          </p>
        }
      } @else {
        <p class="empty-state">
          No notes yet. Add your first one to see it here ✍️
        </p>
      }

    </div>
  </section>

  @defer (on viewport) {
    <app-gallery />
  } @placeholder {
    <div class="images-grid skeleton">
      @for (_ of [1,2,3,4,5,6,7,8]; track _) {
        <div class="img-skeleton"></div>
      }
    </div>
  }
</div>

<footer class="footer">
  <p>© {{ year }} Angular 21</p>
</footer>
